:root {
	--dark-bg: #121212;
	--very-light-gray: #E4E4E4;
	--very-dark-gray-1: #1E1E1E;
	--very-dark-gray-2: #323232;
	--very-dark-gray-3: #111111;
	--very-dark-gray-4: #1E1E1E;
	--white: #FFFFFF;
	--black: #000000;
	--vivid-orange: #F36F21;
	--vivid-yellow: #FBE208;
}

.orange {
	color: var(--vivid-orange);
}